body {
    background: #002352;
  }
  
  .container {
    background: white;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;

    .timer {
        margin-top: 0;
    }

    .flex {
        display: flex; 
        flex-direction: row; 
        justify-content: space-evenly;
        width: 100%;

        @media(max-width:767px){
          flex-direction: column;
        }
 
        .card {
            width: 45%; 
            background: lightgray;
            border-radius: 10px;
            transition: 1s;

           @media(max-width:767px) {
             width: 85%; 
             margin: 0 auto; 
             margin-top: 5%;
           }

            img {
              width: 15%; 
              display: block;
              margin: 0 auto;
              padding-top: 3%;

              @media(max-width:767px) {
                width: 25%;
              }
            }

            h1 {
                font-family: FoundersMedium;
                font-size: 3vw;
                letter-spacing: 3px;
                text-transform: uppercase;
              }
              
              h3 {
                font-family: FoundersMedium;
                font-size: 2vw;
                letter-spacing: 3px;
                text-transform: uppercase;

                @media(max-width:767px) {
                  font-size: 5vw;
                }
              }
              
              h4 {
                font-family: FoundersMedium;
                font-size: 1.5vw;
                letter-spacing: 3px;
                text-transform: uppercase;
              }
          }
    }
  }
  